VITE_APP_NETWORKTYPE=TESTNET
VITE_GITHUB_CLIENT_ID=Ov23li3G6GCdIEHptFq0
VITE_GITHUB_CLIENT_SECRET=4563d8c8dbc420fabcd0a33d002105446886c71e
VITE_GITHUB_REDIRECT_URI=http://localhost:5173/auth/github/callback
VITE_GITHUB_SCOPE=read:user
VITE_GOOGLE_CLIENT_ID=130412151167-e22npv2ft8u6eha5jgknn15cqr0m74vg.apps.googleusercontent.com