@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply m-0 !h-auto p-0 text-white;
  }
}

body,
.pump-table {
  font-family: Nunito, sans-serif !important;
}

@layer components {
  /* TODO - to refactor later, padding n margin */
  .page-container {
    @apply min-h-[100vh] bg-[#131627] bg-[url('/images/jump/background.png')] bg-cover bg-fixed bg-center pt-[64px] font-nunito;
  }

  .home-create-btn {
    @apply rounded-full border border-black bg-white shadow-[2px_2px_0px_0px_#000];
  }
}

.pump-table-wrapper .pump-table-thead .pump-table-cell,
.pump-table-wrapper .pump-table-tbody .pump-table-cell {
  background-color: #000000c0;
}

.pump-table-tbody > tr.pump-table-placeholder {
  background-color: inherit !important;
}

.pump-table-cell-row-hover {
  background-color: #22252dbf !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.portkey-ui-common-base-modal .social-login-title .title > span {
  color: var(--sds-color-icon-default-default);
}

.portkey-ui-common-base-modal.portkey-ant-modal-centered
  .aelf-web-extra-wallets-wrapper-crypto
  > div
  > span {
  color: var(--sds-color-icon-default-default);
}

.ant-modal-wrap .ant-modal-content {
  background-color: var(--sds-color-background-default-default);
  color: var(--sds-color-icon-default-default);
}

.portkey-ant-btn.portkey-ant-btn-default.portkey-ui-common-button {
  background-color: var(--sds-color-background-default-default);
  color: var(--sds-color-text-default-default);

  &:hover {
    background-color: var(--sds-color-background-default-default-hover);
    color: var(--sds-color-text-default-default);
  }
}

.portkey-ant-modal-body .unlock-body {
  .unlock-footer-text {
    color: var(--sds-color-text-default-secondary);
  }

  .unlock-footer-text .unlock-footer-text-href {
    color: var(--sds-color-text-brand-default);
  }
}
