@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
* {
  scrollbar-color: #303030 transparent;
  scrollbar-width: thin;
}

.portkey-ui-wrapper {
  min-width: unset !important;
}
