@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-syne: Syne;
  --font-outfit: Outfit;
  --font-pro: Source Code Pro;
  --font-kode: Kode Mono, monospace;
  --font-source-code: Source Code Pro;

  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-black-light: #303030;
  --color-gray-light: #b9b9b9;
  --color-gray-deep: #606060;
  --color-dialog-dark: #171717;

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.cutCorner {
  position: relative;
  border: 1px solid #303030;
  display: inline-block;
}

.cutCorner::before {
  position: absolute;
  right: -1px;
  bottom: -1px;
  content: "";
  border-bottom: 15px solid #303030;
  border-left: 15px solid transparent;
}

.cutCorner::after {
  position: absolute;
  right: -2px;
  bottom: -2px;
  content: "";
  border-bottom: 15px solid;
  @apply border-background;
  border-left: 15px solid transparent;
}

.cutCorner.cutCorner__white {
  border: 1px solid #303030;
}

.cutCorner.cutCorner__white:before {
  border-bottom: 15px solid #303030;
}

* {
  scrollbar-color: #303030 transparent;
  scrollbar-width: thin;
}

.portkey-ui-wrapper {
  min-width: unset !important;
}

.text-gradient {
  @apply bg-linear-to-r from-white to-[#999999] inline-block text-transparent bg-clip-text;
}

.cutCornerNoBorder {
  position: relative;
  border: 1px solid #303030;
  display: inline-block;
}

.cutCornerNoBorder::before {
  position: absolute;
  right: -1px;
  bottom: -1px;
  content: "";
  border-bottom: 2rem solid #303030;
  border-left: 2rem solid transparent;
}

.cutCornerNoBorder::after {
  position: absolute;
  right: -1px;
  bottom: -1px;
  content: "";
  border-bottom: 2rem solid;
  @apply border-background;
  border-left: 2rem solid transparent;
}

.cutCornerBig {
  position: relative;
  border: 1px solid #303030;
  display: inline-block;
}

.cutCornerBig::before {
  position: absolute;
  right: -1px;
  bottom: -1px;
  content: "";
  border-bottom: 35px solid #303030;
  border-left: 35px solid transparent;
}

.cutCornerBig::after {
  position: absolute;
  right: -2px;
  bottom: -2px;
  content: "";
  border-bottom: 35px solid;
  @apply border-background;
  border-left: 35px solid transparent;
}